<style>
  /* Scale down PDF content to compensate for high-res extraction (zoom 3.0) */
  /* Zoom 3.0 is 2x the default 1.5, so we scale down by 0.5 to get back to 1.5 effective size */
  #pdf-content {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%; /* Compensate for scale to maintain layout */
  }

  <% if @pdf.fonts.attached? %>
    <% @pdf.fonts.each do |font| %>
      <% if font.metadata['font_name'].present? %>
        <%
          ext = font.filename.extension.to_s
          format = case ext
                   when 'ttf' then 'truetype'
                   when 'otf' then 'opentype'
                   when 'cff' then 'opentype'
                   else 'truetype'
                   end
        %>
        @font-face {
          font-family: '<%= font.metadata['font_name'] %>';
          src: url('<%= rails_blob_path(font, only_path: true) %>') format('<%= format %>');
        }
      <% end %>
    <% end %>
  <% end %>
</style>

<% if @pdf.html_content.present? %>
  <div id="pdf-content">
    <% doc = Nokogiri::HTML.fragment(@pdf.html_content) %>
    <%= doc.to_html.html_safe %>
  </div>
<% else %>
  <p class="text-gray-500">No HTML content available for this PDF.</p>
<% end %>